<div class="flyntComponent" is="flynt-hero-image-cta">
  <div class="container">
    <div class="content-picture">
      <div class="content-background"></div>
      <picture class="content-pictureEl">
        {% if images.imageMobile %}
          <source
            srcset="{{ images.imageDesktop.src }}"
            data-srcset="{{function('wp_get_attachment_image_srcset', image.id)}}"
            data-sizes="auto"
            media="(min-width: 768px)"
            sizes="100vw">
          <img
            class="content-image lazyload
              {{ options.alignImage.mobile.vertical }}
              {{ options.alignImage.mobile.horizontal }}
              {{ options.alignImage.desktop.vertical }}
              {{ options.alignImage.desktop.horizontal }}"
            srcset="
              {{ images.imageMobile.src }}"
            sizes="100vw"
            data-object-fit="cover"
            alt="{{ images.imageDesktop.alt|e }}">
          {% else %}
            <img
              class="content-image
                {{ options.alignImage.mobile.vertical }}
                {{ options.alignImage.mobile.horizontal }}
                {{ options.alignImage.desktop.vertical }}
                {{ options.alignImage.desktop.horizontal }}"
              srcset="
                {{ images.imageDesktop.src }},
                {{ images.imageDesktop.src }},
                {{ images.imageDesktop.src }},
                {{ images.imageDesktop.src }},
                {{ images.imageDesktop.src }},
                {{ images.imageDesktop.src }}"
              src="{{ images.imageDesktop.src }}"
              sizes="100vw"
              data-object-fit="cover"
              alt="{{ images.imageDesktop.alt|e }}">
        {% endif %}
      </picture>
    </div>
    <div class="content">
    {% if contentHtml %}
      <div class="content-wrapper">
        <div class="content-html">
          {{ contentHtml|e('wp_kses_post') }}
        </div>
      </div>
    {% endif %}
    </div>
  </div>
</div>
