<div class="flyntComponent" is="flynt-block-podcast-info">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="container">
    <div data-slider class="slider slider{{ sliderTrueFalse|e }} swiper-container themeLight">
      <div class="swiper-wrapper">
        {% for panel in repeaterSlider %}
          <div class="slider-item swiper-slide">
            <figure class="figure">
              <img class="figure-image lazyload"
                src="{{ panel.panelImage.src|resizeDynamic(800, 800) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', panel.panelImage.id)}}"
                data-sizes="auto">
            </figure>
            {# <figcaption class="figure-caption">{{ panel.panelImage.caption|e }}</figcaption> #}
          </div>
        {% endfor %}
      </div>
      <div class="slider-button-container">
        <button type="button" data-slider-button="prev" class="slider-button slider-button--prev">
          <i data-feather="arrow-left"></i>
        </button>
        <button type="button" data-slider-button="next" class="slider-button slider-button--next">
          <i data-feather="arrow-right"></i>
        </button>
      </div>
    </div>
    {# {% if post.thumbnail %}
      <div class="featuredImage">
        {{ renderComponent('BlockImage', { image: post.thumbnail, options: { size: 'sizeFull' }, noComponentSpacing: true }) }}
      </div>
    {% endif %} #}
    <div class="socials">
      <ul class="list">
        {% for panel in repeaterPanels %}
          {% if panel.panelLink %}
          <li class="panel">
            <a href="{{ panel.panelLink.url }}" target="_blank" rel="noreferrer noopener" type="button">
              {{ panel.panelLink.title|e }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="bio">
      {{ bioHtml|e('wp_kses_post') }}
      {{ soundcloudOembedText }}
    </div>
  </div>
</div>
