<div class="posts grid grid-home">
  {% for post in posts %}
    <a class="post grid-item grid-item--{{ post.type.labels.singular_name }}" href="{{ post.link }}">
      {% if post.thumbnail %}
      <div class="featuredInfo featuredInfo-top">
        <div class="date">{{ post.datePost|date("d.m.Y")|escape('wp_kses_post') }}</div>
        <div class="post-type">{{ post.type.labels.singular_name }}</div>
      </div>
      {% endif %}
      <div class="featuredImage">
        <img class="figure-image lazyload"
        src="{{ post.thumbnail.src|resize(32) }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
        data-sizes="auto">
        {# <img class="figure-image lazyload" src="{{ item.thumbnail.src }}" /> #}
        {# src="{{ slide.images.imageDesktop | resize(2048, 1024) }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', slide.images.imageDesktop.id)}}"
        alt="{{ slide.images.imageDesktop.alt|e }}"> #}
      </div>
      <div class="featuredInfo featuredInfo-bottom">
        <p class="title">{{ post.title }}</p> 
      </div>
    </a>
  {% endfor %}
</div>
