{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      <h1 class="title">{{ post.title }}</h1>
      {% if post.introArticle %}
      <div class="intro">{{ post.introArticle }}</div>
      {% endif %}
      {% if post.datePost or post.authorArticle %}
      <div class="credits">
        <div class="date">{{ post.datePost|date("d.m.Y")|escape('wp_kses_post') }}</div>
        <div class="author">{{ post.authorArticle }}</div>
      </div>
      {% endif %}
    </header>
    <section class="post-main">
      {% for component in post.meta('articleComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
      {# <div class="artist-meta">
        {% if post.thumbnail %}
          <div class="featuredImage">
            {{ renderComponent('BlockImage', { image: post.thumbnail, options: { size: 'sizeLarge' }, noComponentSpacing: true }) }}
          </div>
        {% endif %}
        <div>
          <div class="artist-meta_socials">{{ post.socials|e('wp_kses_post') }}</div>
          <ul class="socialList">
            {% for panel in post.socialz %}
              <li>
                <a class="socialList-link" href="{{ post.socialz.url }}" target="_blank" rel="noopener noreferrer">
                  {{ post.socialz.url }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="artist-meta_bio">{{ post.bio|e('wp_kses_post') }}</div>
      </div> #}
    </section>
    <section class="post-related">
      {{ renderComponent('GridArticlesLatest', {'title': ('More Articles'),'taxonomies': post.categories() }) }}
    </section>
  </article>
{% endblock %}
